<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <%= image_tag @product.image.url, class: 'main-img' %>
    <div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <div class="quantity">
        <span><%= @product.quantity %> in stock at </span>
        <span><%= humanized_money_with_symbol @product.price %></span>
      </div>
      <div class="price">          
        <%= button_to add_item_cart_path(product_id: @product.id), class: 'btn' , method: :post do %>
          <%= fa_icon "shopping-cart", text: 'Add' %>
        <% end %>          
      </div>
    </div>
    <%= form_for [@product, Review.new] do |form| %>

      <% if form.object.errors.any? %>
        <div class="alert alert-danger">
          <strong>The following errors prevented saving:</strong>
          <ul>
            <% form.object.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :rating %>
        <%= form.select :rating, [['5', 5],['4', 4], ['3', 3], ['2', 2],['1', 1]], selected: 5, class: 'form-control' %>
      </div>

      <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
    <% end %>
    <div>
      <% @product.reviews.each do |review| %>
        <div><%= review.description %></div>
        <div><%= review.rating.to_i %></div>
      <% end %>
    </div>
  </article>

</section>